.DS_Store
Thumbs.db
.engine/
.cfconfig.json
.bx-server/
modules/
.boxr/
WEB-INF/
*.log
.idea/
.vscode/
.cfformat.json
docs/
lib/
dump.cfm
PUBLISHING.md
slideshow/
JSONUtil/
demo-output/*
!demo-output/.gitkeep
demo-images/*
!demo-images/.gitkeep
